{% extends "layouts/admin_template.html" %}
{% load staticfiles %}
{% block extra_css %} 
{# Datatables #}
  <link rel="stylesheet" type="text/css" href={% static "css/admin_template/dataTables.bootstrap.min.css" %}>
  <link rel="stylesheet" type="text/css" href={% static "css/base/home.css" %}>
{% endblock %}
{% block header %}
{% endblock %}

{% block body_content %}
<!-- Default box -->
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">{{page_title}}</h3>

    <div class="box-tools pull-right">
      <!--       
        Collapse button
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i></button> 
      -->
      <!-- <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Crear Cliente" > -->
        <!-- <a id="btn_modal_new_client" data-target="#modal_new_client" data-toggle="modal"><i class="fa fa-plus"></i> Agregar Cliente</a></button> -->
    </div>
  </div>
  <div class="box-body">
    {% include "shipments/table_shipments_external.html" %}
  </div>
</div>
<!-- /.box -->
<!-- {% include "user_profiles/modal_new_client.html" %} -->

<!-- <div class="modal fade" tabindex="-1" role="dialog" id="modal_update_client">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_update_client_content">

      {% if active_modal == 'modal_update_client' %}
        {% include "user_profiles/form_update_client.html" %}
      {% endif %}
    </div>
  </div>
</div> -->

<div class="modal fade" tabindex="-1" role="dialog" id="modal_delete_shipment">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_delete_shipment_content">

    </div>
  </div>
</div>

<!-- <div class="modal fade" tabindex="-1" role="dialog" id="modal_info_client">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modal_info_client_content">

    </div>
  </div>
</div> -->

{% endblock %}

{% block footer_content %}
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src={% static "js/admin_template/dataTables.bootstrap.min.js" %}></script>

  <script>
    $(function () {
      $('#tablaShipmentsExternal').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : false,
        'info'        : true,
        'autoWidth'   : true
      })
    })
  </script>
  {% if active_modal %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('#{{ active_modal }}').modal('show');
      });
    </script>
  {% endif %}

  <script type="text/javascript">
    $(document).ready(function() {
     $('.delete_client').click(function(ev) { // for each edit contact url
       ev.preventDefault(); // prevent navigation
       var url = $(this).data('form'); // get the contact form url
       $('#modal_delete_shipment_content').load(url, function() { // load the url into the modal
         $('#modal_delete_shipment').modal('show'); // display the modal on url load
       });
       return false; // prevent the click propagation
     });
   });
  </script>

<!--   <script type="text/javascript">
    $(document).ready(function() {
     $('.update_client').click(function(ev) { // for each edit contact url
       ev.preventDefault(); // prevent navigation
       var url = $(this).data('form'); // get the contact form url
       $('#modal_update_client_content').load(url, function() { // load the url into the modal
         $('#modal_update_client').modal('show'); // display the modal on url load
       });
       return false; // prevent the click propagation
     });
   });
  </script>

   <script type="text/javascript">
    $(document).ready(function() {
     $('.info_client').click(function(ev) { // for each edit contact url
       ev.preventDefault(); // prevent navigation
       var url = $(this).data('form'); // get the contact form url
       $('#modal_info_client_content').load(url, function() { // load the url into the modal
         $('#modal_info_client').modal('show'); // display the modal on url load
       });
       return false; // prevent the click propagation
     });
   });
  </script> -->
{% endblock %}