<div class="modal fade" tabindex="-1" role="dialog" id="modal_new_client">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Crear un Nuevo Punto</h4>
      </div>
      <form id="form-new-waypoint" method="POST" action="{% url 'waypoints:create_waypoint' %}">
        <div class="modal-body">
          {% csrf_token %}
          {% for form in forms %}
            {{ form.as_p }}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary" id="btn_send_create_user">Crear Punto</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->