{% extends "layouts/basic.html" %}
{% load staticfiles %}

{% block page_title %}Recuperar contraseña{% endblock %}
{% block extra_css %} 
<link rel="stylesheet" type="text/css" href={% static "css/base/home.css" %}>
{% endblock %}

{% block header %}
<div class="row text-center">
  <h1>Recuperar contraseña</h1>
</div>
{% endblock %}

{% block body_content %}

<div class="row text-center">
  <div class="col-md-4 col-md-offset-4">
    <form method="post" action="{% url 'tosp_auth:password_reset' %}">
      {% csrf_token %}
      {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        <br>
      {% endfor %}
      <input class="btn btn-primary" type="submit" value="Recuperar contraseña" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
<div>
{% endblock %}
