{% extends "layouts/basic.html" %}
{% load staticfiles %}

{% block page_title %}Cambiar contraseña{% endblock %}
{% block extra_css %} 
<link rel="stylesheet" type="text/css" href={% static "css/base/home.css" %}>
{% endblock %}

{% block header %}
<div class="row text-center">
  <h1>Cambiar contraseña</h1>
</div>
{% endblock %}

{% block body_content %}

<div class="row text-center">
  <div class="col-md-4 col-md-offset-4">
    <form method="post" action="{% url 'tosp_auth:password_change' %}">
      {% csrf_token %}
      {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        <br>
      {% endfor %}
      <ul>
        <li>Tu contraseña tiene que ser diferente a tu información personal.</li>
        <li>Tu contraseña debe contener al menos 8 caracteres.</li>
        <li>Tu contraseña no puede ser una contraseña común.</li>
        <li>Tu contraseña no puede contener puros numeros.</li>
      </ul>

      <input class="btn btn-primary" type="submit" value="Cambiar contraseña" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
<div>
{% endblock %}
