{% extends "layouts/basic.html" %}
{% load staticfiles %}
{% block page_title %}́Éxito Cambio de Contraseña{% endblock %}
{% block extra_css %} 
  <link rel="stylesheet" type="text/css" href={% static "css/base/home.css" %}>
{% endblock %}
{% block header %}
{% endblock %}

{% block body_content %}
<div class='row text-center'>
  <h1>Tu contraseña ha sido cambiada con éxito!</h1>
  <h2>Regresa a la página principal.</h2>
</div>

<div class='row text-center'>
  <a class="btn btn-primary btn-lg" href="{% url 'base:home' %}">Página Principal</a>
</div>
{% endblock %}

{% block footer_content %}
{% endblock %}